/*
.authorizedAttribute-nested-cell {  
    -fx-background-color: blue, -fx-background;
    -fx-padding:  0.25em 0.583em 0.25em 0.583em;  
    -fx-background-insets: 0, 1
}

 .relationship-nested-cell {  
    -fx-background-color: red, -fx-background;
    -fx-padding:  0.25em 0.583em 0.25em 0.583em;  
    -fx-background-insets: 0, 2
}
*/