.nested-cell:odd {
    -fx-background: -fx-control-inner-background-alt; 
}

.nested-cell {  
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-padding:  0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
    -fx-background-insets: 0, 1
}

.nested-cell:focused {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
}

.virtual-flow:focused > .nested-cell:filled:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.nested-cell:filled:selected:focused:disabled,
.nested-cell:filled:selected:disabled {
    -fx-opacity: 0.4;
}