.horizontal-cell {
    -fx-focus-traversable: true;
}

.horizontal-cell:focused {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
}

.vertical-cell {
    -fx-focus-traversable: true;
}