.layout-label {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%);
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0; 
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-padding: 3.0 3.0 3.0 3.0;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14.0px;
    -fx-text-fill: white;
}

.outline-cell, .nested-cell { 
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 1 4 1 4; 
}  

.layout-label:hover {
    -fx-text-fill: orange;
}

.outline-element:focused > .layout-label {
     -fx-background-color: #969A9F;
}

.outline:focused > .layout-label, .table:focused > .layout-label {
     -fx-background-color: #969A9F;
}

.primitive {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0.0%, #f3f3f3 50.0%, #ececec 51.0%, #f2f2f2 100.0%);
    -fx-padding: 3.0 3.0 3.0 3.0;
    -fx-text-fill: #242d35;
    -fx-font-size: 14.0px;
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0;
}

.primitive:focused {
     -fx-background-color: #969A9F;
}