.layout-label {
    -fx-padding: 5 8 5 8;
    -fx-alignment: center-left;
    -fx-background-color: #0f172a;
    -fx-background-radius: 0;
    -fx-text-fill: #94a3b8;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.layout-label:hover {
    -fx-text-fill: #e2e8f0;
}
