.layout-label {
    -fx-padding: 3 5 3 5;
    -fx-alignment: center-left;
    -fx-background-color: #1e293b;
    -fx-background-radius: 3;
    -fx-text-fill: #cbd5e1;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.layout-label:hover {
    -fx-text-fill: #f1f5f9;
    -fx-background-color: #334155;
}
