.outline-element {
    -fx-padding: 2 0 2 0;
    -fx-alignment: center-left;
    -fx-focus-traversable: true;
}

.outline-element:hover {
    -fx-background-color: #f1f5f9;
    -fx-background-radius: 3;
}

.outline-element:filled:selected {
    -fx-background-color: #eff6ff;
    -fx-background-radius: 3;
}
