.outline-cell:odd {
    -fx-background: -fx-control-inner-background-alt; 
}

.outline-cell { 
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-padding:  0.25em 0 0.25em 0.583em; /* 3 7 3 7 */
    -fx-background-insets: 0, 1
}