.outline-cell {
    
    -fx-alignment: center-left;
    -fx-focus-traversable: true;
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0.0%, #f3f3f3 50.0%, #ececec 51.0%, #f2f2f2 100.0%);
}